.convenios{
    background-image: url(../img/bg/convenios-mobil.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height:20vh;
    display: flex;
    position: relative;
    h1{
        font-size: 25px;
        color:#fff;
        position: absolute;
        bottom:0;
        margin-bottom: 30px;
    }
}
.convenios:before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background: rgba($color-complementario-oscuro, 0.6);

}

.contenido-convenios{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    margin-bottom:1em;
} 
.caj-conv{
    background-color:$color-claro;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    align-items: center;
}
.caj-imagen-conv{
    background-repeat: no-repeat;
    width: 120px;
}
.parrafo-conv{
    font-size: 15px;
    color:$color-oscuro;
}


@media only screen and (min-width:770px){
    .contenido-convenios{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        grid-gap:10px;
        margin-bottom:1em;
    } 
}

@media only screen and (min-width:1200px){
    .contenido-convenios{
        display: grid;
        grid-template-columns:repeat(3,1fr);
        grid-gap:10px;
        margin-bottom:1em;
    } 
}