.profesionales{
    background-image: url(../img/bg/profesional-mobil.jpg);
    background-size:cover;
    background-position:center;
    width: 100%;
    height:20vh;
    display: flex;
    position: relative;
    h1{
        font-size: 25px;
        color:#fff;
        position: absolute;
        bottom:0;
        margin-bottom: 30px;
    }
}

.profesionales:before{
    content: "";
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    left:0;
    background: rgba($color-complementario-oscuro, 0.6);

}

.contenido-profesionales{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:10px;
    margin-bottom:1em;
}
.parrafo-profesion{
    color:$color-gris;
 }
.parrafo-l-estudios{
    color:$color-oscuro;   
}

.caj-prof{ 
    background-color:$color-claro;
    display: flex;
    border-radius: 5px;
    flex-direction: row;

}

.caj-imagen-prof{
    flex:0 1 auto;
    background-repeat: no-repeat;
}
.caj-imagen-prof img{
    width:auto;
    height: 170px;
    object-fit: cover;
}
@media only screen and (min-width:770px){
    .profesionales{
        background-image: url(../img/bg/profesional.jpg);
        background-position: center;
        height:45vh;
        h1{
            font-size: 45px;
        }
     }
    
     .contenido-profesionales{
       grid-template-columns: repeat(4, 1fr);
        
    }
     .caj-prof{ 
       flex-direction:column;
    }
    .caj-imagen-prof img{
        width:100%;
        height: auto; 
    }
} 
