$color-principal: #0F05C1;
$color-principal-oscuro: #09018C;
$color-complementario:#BF159C;
$color-complementario-oscuro:#610071;
$color-claro:#FFFFFF; 
$color-oscuro:#000000;
$color-fondo:#6A7C92;
$color-fondo-oscuro:#3763EB;