$color-principal: #0F05C1;
$color-principal-oscuro: #09018C;
$color-complementario:#BF159C;
$color-complementario-oscuro:#610071;
$color-claro:#FFFFFF; 
$color-oscuro:#000000;
$color-gris:#606060;
$color-fondo:#e4e3ff;
$color-fondo-oscuro:#3763EB;